@inherits LayoutComponentBase


<div class="page d-flex flex-column">   

    <NavBar></NavBar>

    <article class="content px-4 py-xxl-1 flex-grow-1" style="min-height: 800px; margin-top: 100px; margin-bottom:30px;" >
        @Body
    </article>

    <Footer></Footer>

</div>
