<footer class="mt-5 py-5" style="background-color: #055160; color: white; width: 100%;">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0">© 2024 Company, Inc</span>
    </div>
</footer>
