<nav class="navbar fixed-top d-flex flex-wrap justify-content-between align-items-center py-3" style="background-color: #055160;
color: white;
height: 70px;
margim-bottom: 200px">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 text-light">Navbar</span>
    </div>
</nav>
