@page "/login"
@inject ILoginService LoginService
@inject NavigationManager NavigationManager
@using B2B.Models.Models
@using B2B_Web.Services

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <h4 class="card-header">Dados para Login</h4>
                <div class="card-body">
                    <form @onsubmit="HandleSubmit">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="User.Email">Email</label>
                            <input @bind="User.Email" class="form-control" />
                            <span asp-validation-for="User.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="User.Password">Senha</label>
                            <input @bind="User.Password" type="password" class="form-control" />
                            <span asp-validation-for="User.Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <a href="/recuperarsenha">Esqueceu a senha?</a>
                        </div>

                        <button type="submit" style="background-color:#055160" >Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private UserDTO User { get; set; } = new UserDTO { Email = "", Password = "" };
    private string ErrorMessage { get; set; } = "";

    private async Task HandleSubmit()
    {
        try
        {
            var result = await LoginService.Login(User);

            if (!string.IsNullOrEmpty(result))
            {
                NavigationManager.NavigateTo("/logado");
            }
            else
            {
                ErrorMessage = "Invalid credentials. Please try again.";
            }


        }
        catch
        {
            ErrorMessage = "An error occurred. Please try again later.";
        }
    }
}
