@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right d-flex align-items-center">
        <ul class="nav navbar-nav">
               <li class="nav-item">
                    <a  class="nav-link h4" asp-area="Identity" asp-page="" title="Manage" class="nav-link">Oi @UserManager.GetUserName(User)!</a>
                </li>
                <li class="nav-item">
                    <a type="submit" class="navbar-link nav-link h4" style="color: blue">Logout</a>
                </li>
        </ul>
    </form>
}
else
{
         <li class="nav-item">
                <a class="nav-link h4" href="/Login">Login</a>
            </li>
 
}


