@page "/Login"
@model LoginModel

@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Login";
}

<div class="dock">
    <section>
        <div class="topForm">
            <a  asp-page="/Index" class="nav-link h3">
                <img src="~/images/LOGO_IMG_SIDETEXT.png" class="img mb-3" alt="My image" style="width: 15rem"/>
            </a>
            <h2>Acessar o sistema</h2> 
        </div>

        <form id="account" method="post" class="form">

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-5 mt-5">
                <input asp-for="Input.Email" style="border-radius: 2.5rem;" class="form-control" autocomplete="username" aria-required="true" placeholder="nome@exemplo.com"/>
                <label asp-for="Input.Email" class="form-label">E-mail</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-2">
                <input asp-for="Input.Password" style="border-radius: 2.5rem;" class="form-control" autocomplete="current-password" aria-required="true" placeholder="senha"/>
                <label asp-for="Input.Password" class="form-label">Senha</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>

            </div>
            <p class="mb-5">
                <a id="forgot-password" asp-page="./ForgotPassword">Esqueci minha senha?</a>
            </p>

            <div class="button-container">
                <button id="login-submit" type="submit">Entrar</button>
            </div>

            <div class="line-container">
                <hr>
                <div>ou</div>
                <hr>
            </div>


            <div id="g_id_onload"
                 data-client_id="344347954038-9gvevhe6hhhg44aq0kds0hphqnnilqlh"
                 data-login_uri="https://localhost:7127/Identity/Account/Login"
                 data-auto_prompt="true">
            </div>
            <div class="g_id_signin"
                 style="width:auto;"
                 data-type="standard"
                 data-size="large"
                 data-theme="outline"
                 data-text="sign_in_with"
                 data-shape="rectangular"
                 data-logo_alignment="left">
            </div>

        </form>
    </section>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}